@import 'side-menu';
@import 'search-form';
@import 'bootstrap-min';
@import 'custom';
@import 'select-min';

a {
  color: #3b8bba;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

#search-results {
  table {
    td {
      vertical-align: top;
    }
    ol {
      margin: 0;
      padding-left: 20px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }
  }
}

#facets {
  h2 {
    color: #666;
    font: 500 normal 1.375em 'Lato', sans-serif;
    margin-top: 0;
  }
  ul {
    padding-left: 20px;
  }
}

.pages {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#loader {
  width: 56px;
  display: block;
  margin: 3rem auto 0;
}

.pure-input-1 {
    border-radius: 0;
}

.results-wrapper {
  width: 970px;
}
