  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          
        </div>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
    
     <div>
        {{#link-to 'articles'}}<h4>Home</h4>{{/link-to}}
        </div>

      <div id="main" >
      {{outlet}}
      </div>

    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">Export.gov is an official site of the U.S. Government</p>
      </div>
    </footer>

  </body>

  

  



