{{#unless useCompactSearchBar}}
  <div class="page-header">
    </br>
    <h1 class="text-center">Find Market Intelligence <span id="beta">beta</span></h1>
    </br></br><p>ITA's Market Intelligence Search tool represents the first stage of an initiative to improve how ITA delivers timely and accessible market information to U.S. businesses. We will continue to add more market intelligence and increase the functionality of this tool as the initiative matures.</p>
  </div>
{{/unless}}

<div class="row">
  {{#if useCompactSearchBar}}
    <div class="col-md-3">
      <h4>
        Find Market Intelligence
        <span id="beta2">beta</span>
      </h4>
    </div>
    {{search-bar-compact q=qField page=pageField action="search"
    industryList=industryList industriesField=industriesField
    countryList=countryList countriesField=countriesField}}
  {{else}}
    {{search-bar q=qField page=pageField action="search"
    industryList=industryList industriesField=industriesField
    countryList=countryList countriesField=countriesField}}
  {{/if}}
</div>
<div class="row">
  {{outlet}}
</div>
